* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: #FAFAFA;
    font-family: 'Montserrat', sans-serif; 
}

body {
    /* width: 550px; 
    height: 400px;  */
    /* background-image: url(./imagens/sdn7ME.webp);
    background-repeat: no-repeat; 
    /* background-position-x: center;
    background-position-y: center; */
    /* background-size: 100 px 100px; */
    
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 50px;
    margin: 50px;
    padding: 6rem;
    background-color: rgb(35, 35, 35);
    




}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;

}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -80px;
    

}

img {
    width: 150px;
}


button {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgb(240, 181, 31);
    border-radius: 4px;
    
    font-weight: 700;
    transition: 0.3s;
}

#text {
    font-size: 30px;
}

#paragrafo {
    color: blue;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
    font-size: 18px;
}


    h2 {
        position: absolute; 
        top: 0; 
        left: 0; 
        margin: 10px; 
        color: white; 
        font-size: 18px;
    }


select {
    
    color: white;
    background-color: black;
    
}

#escolha {
    margin-top: -10px;
}

input {
    color: black;
}

.batman {
    width: 350px; 
    height: 40px; 
    background-image: url(./imagens/sdn7ME.webp); 
    background-repeat: no-repeat; 
    background-position: right center; 
    background-size: 40px 40px;
    padding-right: 50px;  
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
.foto {
    width: 350px; 
    height: 40px; 
    background-image: url(./imagens/sdn7ME.webp); 
    background-repeat: no-repeat; 
    background-position: right center; 
    background-size: 40px 40px;
    padding-right: 50px;  
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* #escolha{
    width: 350px; 
    height: 40px; 
    background-repeat: no-repeat; 
    background-position: right center; 
    background-size: 40px 40px;
    padding-right: 50px;  
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}  */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

#escolha {
    width: 380px;
    padding: 8px;
}
}

footer {
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed; /* Necessário se precisar adicionar algum z-index */
    bottom: 0;
    font-size: 10px;
    background-color: rgb(25, 25, 25);
}